dtaidistance>=1.2.3
IPython>=7.21.0
ipywidgets>=7.6.3
mass_ts>=0.1.4
numpy>=1.22.0
pandas>=1.0.1
parver~=0.3.1
pytest==4.3.1
sphinx==4.2.0
sphinx-rtd-theme==1.0.0
scipy>=1.5.4
tzlocal==2.1
twine~=3.4.1
wheel~=0.33.1
packaging~=21.0
pytz~=2021.3
setuptools~=57.0.0
